 body {
     background-color: #f5f5f5;
 }

 .sidebar {
     position: fixed;
     top: 0;
     left: 0;
     width: 100px;
     height: 100%;
     background-color: #ffffff;
     color: rgb(0, 0, 0);
     font-family: Arial, sans-serif;
     border-radius: 25px;
 }

 img {
     width: inherit;
     height: auto;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
     border-radius: 15px;
 }

 nav {
     padding: 10px 15px;
     position: absolute;
 }

 ul {
     padding-bottom: 20px;
     padding-right: 2px;
     list-style: none;
     padding: 0px 0px;
     background: #ffffff;
     width: max-content;
     height: 100%;
     margin: 0px 0.5px;
     border-left-color: rgb(0, 0, 0);
     justify-content: center;

 }

 li {
     margin-bottom: 60px;
 }

 #house {
     margin-top: 135px;
     font-size: 25px;
     color: black;
     margin-left: 15px;

 }

 #library {
     font-size: 25px;
     color: black;
     margin-left: 20px;
 }

 #login {
     font-size: 25px;
     color: black;
     margin-left: 20px;
     margin-top: 170px;
 }

 #search {
     font-size: 25px;
     color: black;
     margin-left: 20px;
 }

 #settings {
     font-size: 25px;
     color: black;
     margin-left: 20px;
 }

 #user {
     font-size: 25px;
     color: black;
     margin-left: 20px;
 }
 .toggle-btn {
     position: absolute;
     top: 50%;
     right: -25px;
     transform: translateY(-50%);
     background-color: #ffffff;
     border: none;
     border-radius: 50%;
     width: 50px;
     height: 50px;
     cursor: pointer;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
     display: flex;
     align-items: center;
     justify-content: center;
 }